{% set name = 'tom&jerry#mike' %}
<!DOCTYPE html>
<html lang='zh'>
<head>
	<meta charset='UTF-8'>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<h1>董</h1>
	<a href="/rq/?name={{ name|urlencode }}">转跳至/rq/</a>
	<p><img src="/static/images/qiaodan.png">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</body>
</html>