<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> - pfs 问题反馈系统 codeclassroom.com</title>
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">

                </div>
            </nav>
        </div>
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">问题反馈</li>
            </ul>
        </div>
        {% block main_content %}

        {% endblock %}
        <div class="row">
            <div class="well text-center">
                &copy;董 版权所有 <a href="http://codeclassroom.com">codeclassroom.com</a>
            </div>
        </div>
    </div>
</body>
</html>